<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Totalization</servlet-name>
		<servlet-class>com.ynujc.servlet.totalization.TotalizationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListMember</servlet-name>
		<servlet-class>com.ynujc.servlet.totalization.ListMemberServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistMember</servlet-name>
		<servlet-class>com.ynujc.servlet.totalization.RegistMemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Totalization</servlet-name>
		<url-pattern>/totalization</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListMember</servlet-name>
		<url-pattern>/listMember</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistMember</servlet-name>
		<url-pattern>/registMember</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
